@charset "UTF-8";
/* Image */
.postimg {
  background-color: #aaa;
  max-width: 100%;
  height:auto
  padding: 20px;

}


body {

height: 100%;
min-height: 1200px%;
background-color: #f0ebc5;

}

.body_container{
        background-color: #f0ebc5;
}

ul {
  list-style-type: none;
}
/* Top header */
div.top-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div.top-header ul li {
  float: left;
}

div.top-header ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.top-header ul li a:hover {
  background-color: #111;
}


/* Page Title */
.page_title h1{
    text-align:center;
    background-color: #c4ba9d;
    padding: 5px
}




/* Registration/Login Form */

form {border: 3px solid #f1f1f1;}


#register_form form table tbody tr th label, #login_form table tbody tr th label{
color:#111;

}

#register_form form table, #login_form form table {
  padding: 25px;
  border-collapse: collapse;
  margin: 10px auto;

}

#register_form form button, #login_form form button{
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#register_form form button:hover, #login_form form button:hover{
    opacity: 0.8;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Index Posts */
.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


.cardo {
   background-color: #c4ba9d;
   padding: 20px;
   margin-top: 20px;
   max-width:1200px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.truncate {
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.crear_post_menu ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c4ba9d;
}

div.crear_post_menu ul li {
  float: left;
}

div.crear_post_menu ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


div.crear_post_menu ul li a:hover {
  background-color: #b0a68b;
}