{% extends 'base.html' %}


{% block title %}
<title>Crear Post</title>
{% endblock title %}

{% block texto_header %}
    Crear Post
{% endblock texto_header %}


{% block body %}
<p>
    <a href={% url 'listado_posts' %}>Listado de Posts</a>
</p>

<div class="form-group">
    <form action={% url 'crear_post' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_p}}
            {{form.media}}
        </table>
        <button>Crear</button>
    </form>
</div>
{% endblock %}