{% extends 'base.html' %}


{% block title %}
<title>Crear Post</title>
{% endblock title %}

{% block texto_header %}
    Crear Post
{% endblock texto_header %}


{% block body %}
<div class="crear_post_menu">
    <ul style="display: block;">

        <li>
            <h3>
                <button class="boton_post"><a href={%url 'listado_posts'%}>Listado Posts</a></button>
            </h3>
        </li>
    </ul>
</div>

<div class="form-group">
    <form action={% url 'crear_post' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.as_p}}
            {{form.media}}
        </table>
        <button>Crear</button>
    </form>
</div>
{% endblock %}