{% extends 'base.html' %}

{% block title %}
<title>Inicio</title>
{% endblock title %}



{% block body %}
<div class="leftcolumn">
    {% if listado_posts %}
        <ul>
            {% for post in listado_posts %}
            <li>
                <div class="cardo">
                    <div class="titulo center"><h2><a href="{% url 'mostrar_post' post.pk %}">{{ post.titulo|safe }}</a></h2></div>
                    <div class="subtitulo center"><h5>{{ post.subtitulo|safe }}, {{ post.fecha_creacion|safe }} por {{ post.autor|safe }}</h5></div>
                    <div class="postimg center"><img src="{{ post.imagen.url }}" alt="{{post.titulo|safe}}" width="600" height="auto"></div>
                    <div class="contenido center"><div class="truncate">{{ post.contenido|safe }}</div></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <ul>
            <li>No hay publicaciones aun</li>
        </ul>
    {% endif %}
</div>

<div class="rightcolumn">

        {% if ultimos_diez %}
        <ul>
            <li>
                <div class="cardo">
                    <h3>Ultimas 10 Publicaciones</h3>
                    {% for post in ultimos_diez %}
                        <div class="titulo"><h5><a href="{% url 'mostrar_post' post.pk %}">{{ post.titulo|safe }}</a></h5></div>
                    {% endfor %}
                </div>
            </li>

        </ul>
    {% else %}
        <h3>Ultimas 10 Publicaciones</h3>
        <h5>No hay publicaciones aun</h5>
    {% endif %}

</div>

{% endblock %}