{% extends 'base.html' %}

{% block body %}
<div class="crear_post_menu">
    <ul style="display: block;">
        <li>
            <h3>
                <button class="boton_post"><a href={%url 'crear_post'%}>Crear Post</a></button>
            </h3>
        </li>
        <li>
            <h3>
                <button class="boton_post"><a href={%url 'listado_posts'%}>Listado Posts</a></button>
            </h3>
        </li>
    </ul>
</div>
<div class="leftcolumn">
    {% if listado_posts %}
        <ul>
            {% for post in listado_posts %}
            <li>
                <div class="cardo">
                    <div class="titulo"><h2><a href="{% url 'mostrar_post' post.pk %}">{{ post.titulo|safe }}</a></h2></div>
                    <div class="subtitulo"><h5>{{ post.subtitulo|safe }}, {{ post.fecha_creacion|safe }} por {{ post.autor|safe }}</h5></div>
                    <div class="postimg"><img src="{{ post.imagen.url }}" alt="{{post.titulo|safe}}" width="600" height="auto"></div>
                    <div class="contenido"><div class="truncate">{{ post.contenido|safe }}</div></div>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        No se encontraron datos.
    {% endif %}
</div>

<div class="rightcolumn">

        {% if ultimos_diez %}
        <ul>
            <li>
                <div class="cardo">
                    <h3>Ultimas 10 Publicaciones</h3>
                    {% for post in ultimos_diez %}
                        <div class="titulo"><h5><a href="{% url 'mostrar_post' post.pk %}">{{ post.titulo|safe }}</a></h5></div>
                    {% endfor %}
                </div>
            </li>

        </ul>
    {% else %}
        <h3>Ultimas 10 Publicaciones</h3>
        <h5>No hay publicaciones aun</h5>
    {% endif %}

</div>

{% endblock %}