{% extends 'base.html' %}

{% block title %}
<title>Listado de Posts</title>
{% endblock title %}

{% block texto_header %}
    Listado de Posts
{% endblock texto_header %}

{% block body %}
<p>
    <a href={% url 'crear_post' %}>Crear Post</a>
</p>

<p>
    <form action={% url 'listado_posts' %}>
        {{form}}
        <button>Buscar</button>
    </form>
</p>

<p>
    {% if object_list %}
        <ul>
            {% for post in object_list %}
            <li>
                <a href="{% url 'mostrar_post' post.pk %}">{{ post.titulo }}</a>
                - {{ post.autor }}
                -
                <a href="{% url 'editar_post' post.pk %}">Editar</a>
                <a href="{% url 'eliminar_post' post.pk %}">Eliminar</a>

                <br/>
                {{ post.subtitulo }}
                <br/>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        No se encontraron datos.
    {% endif %}
</p>
{% endblock body %}