{% extends 'base.html' %}

{% block title %}
<title>{{ post.titulo }}</title>
{% endblock title %}

{% block texto_header %}
    {{ post.titulo }}
{% endblock texto_header %}

{% block body %}

<div class="subtitulo2"> <h4>
    {{ post.subtitulo }} </h4>
</div>


<div class="table">
    <img src="{{ post.imagen.url }}" alt="{{post.titulo|safe}}" width="800" height="600">
    <p>{{ post.contenido|safe }}
    </p>

</div>



<small>Por: {{ post.autor }} - {{ post.fecha_creacion }}</small>
{% endblock body %}

